:root {
  --md-sys-color-primary: rgb(53 97 142);
  --md-sys-color-surface-tint: rgb(53 97 142);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(209 228 255);
  --md-sys-color-on-primary-container: rgb(24 73 117);
  --md-sys-color-secondary: rgb(83 95 112);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(214 227 247);
  --md-sys-color-on-secondary-container: rgb(59 72 88);
  --md-sys-color-tertiary: rgb(107 87 120);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(242 218 255);
  --md-sys-color-on-tertiary-container: rgb(82 63 95);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(248 249 255);
  --md-sys-color-on-background: rgb(25 28 32);
  --md-sys-color-surface: rgb(248 249 255);
  --md-sys-color-on-surface: rgb(25 28 32);
  --md-sys-color-surface-variant: rgb(223 226 235);
  --md-sys-color-on-surface-variant: rgb(66 71 78);
  --md-sys-color-outline: rgb(115 119 127);
  --md-sys-color-outline-variant: rgb(195 199 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 53);
  --md-sys-color-inverse-on-surface: rgb(239 240 247);
  --md-sys-color-inverse-primary: rgb(160 202 253);
  --md-sys-color-primary-fixed: rgb(209 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 29 54);
  --md-sys-color-primary-fixed-dim: rgb(160 202 253);
  --md-sys-color-on-primary-fixed-variant: rgb(24 73 117);
  --md-sys-color-secondary-fixed: rgb(214 227 247);
  --md-sys-color-on-secondary-fixed: rgb(16 28 43);
  --md-sys-color-secondary-fixed-dim: rgb(186 200 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(59 72 88);
  --md-sys-color-tertiary-fixed: rgb(242 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(37 20 50);
  --md-sys-color-tertiary-fixed-dim: rgb(214 190 229);
  --md-sys-color-on-tertiary-fixed-variant: rgb(82 63 95);
  --md-sys-color-surface-dim: rgb(216 218 224);
  --md-sys-color-surface-bright: rgb(248 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 243 249);
  --md-sys-color-surface-container: rgb(236 238 244);
  --md-sys-color-surface-container-high: rgb(230 232 238);
  --md-sys-color-surface-container-highest: rgb(225 226 232);
}
