@import url('./material-light.css');

body {
    margin: 0;
    padding: 0;
}
.screen {
    display: grid;
    grid-template-columns: 200px 5fr;
    min-height: 100vh;
}
.sidebar {
    display: grid;
    background-color: var(--md-sys-color-secondary-container);
    grid-template-rows: 80px 2fr;
    justify-content: center;
}
.sidebar-header {
    display: flex;
    gap: 20px;
    align-items: center;
}
.sidebar-header img {
    height: 60px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.project-list li > button {
    height: 24px;
    fill: red;
    background: none;
    border: none;
}
.sidebar-actions li > svg {
    height: 40px;
}
#addTaskButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: var(--md-sys-color-tertiary);
    fill: var(--md-sys-color-on-tertiary);
    cursor: pointer;
}
.task-list {
    padding: 8vw 13vw;
    display: grid;
    grid-template-rows: repeat(auto-fit, 100px);
}
.task-body {
    height: 80px;
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    background-color: var(--md-sys-color-surface-container-high);
    justify-content: space-between;
    position: relative;
    padding-left: 50px;
}
.task-check {
    content: '';
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    border: 3px solid #444444;
    border-radius: 3px;
    cursor: pointer;
}
.task-body + .checked  {
    text-decoration: line-through;
    color: #bbbbbb;
}

.task-body + .checked > .task-check  {
    background-image: url(./imgs/check-bold.svg);
    background-position: center;
    background-size: cover;
    background-color: var(--md-sys-color-primary);
    border-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}