@import url('./material-light.css');

body {
    margin: 0;
    padding: 0;
}
.screen {
    display: grid;
    grid-template-columns: 0.9fr 5fr;
    min-height: 100vh;
}
.sidebar {
    display: grid;
    background-color: var(--md-sys-color-secondary-container);
    grid-template-rows: 80px 2fr;
}
.sidebar-header {
    display: flex;
    gap: 20px;
    align-items: center;
}
.sidebar-header img {
    height: 60px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    display: flex;
    align-items: center;
}
ul li > svg {
    height: 40px;
    color: blue;
}