@import url('./material-light.css');

body {
    margin: 0;
    padding: 0;
}
.screen {
    display: grid;
    grid-template-columns: 200px 5fr;
    min-height: 100vh;
}
.sidebar {
    display: grid;
    background-color: var(--md-sys-color-secondary-container);
    grid-template-rows: 80px 2fr;
    justify-content: center;
}
.sidebar-header {
    display: flex;
    gap: 20px;
    align-items: center;
}
.sidebar-header img {
    height: 60px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.project-list li > button {
    height: 24px;
    fill: red;
    background: none;
    border: none;
}
.sidebar-actions li > svg {
    height: 40px;
}
#addTaskButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: var(--md-sys-color-primary);
    fill: var(--md-sys-color-on-primary);
    cursor: pointer;
}